<h2><%= @movie.title %></h2>
<h4><%= @movie.creation_year %> </h4>
<h4><%= @movie.genre %> </h4>

<section id="actors">
  <% @movie.actors.each do |actor| %>
    <h4> <%= actor.name %> </h4>
<% end %>
</section>
<br>
<%= form_with url: "/studios/#{@studio_1.id}/movies/#{@movie_1.id}", method: :post do |form|%>
  <h3><%= form.label "Add a ride to workload:" %></h3><br>
  <p>Ride ID: <%= form.number_field :ride_id %></p>
  <br>
  <%= form.submit "Submit" %>
<% end %>
